layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="container" cwd="~/dev/vshn/helmetica/athanor/" {
        pane split_direction="horizontal" {
            pane name="devcontainer" command="ssh" {
                args "-t" "athanor.devpod"
            }
            pane name="devcontainer" command="ssh" {
                args "-t" "athanor.devpod"
            }
        }
    }
    tab name="helmetica" cwd="~/dev/vshn/helmetica/athanor" split_direction="vertical" {
        pane split_direction="horizontal" {
            pane command="nvim"
            pane name="devcontainer" command="ssh" {
                args "-t" "athanor-llm.devpod" "opencode"
            }
        }
    }
}
